*_.pdf
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.cb
*.cb2
*.DS_Store
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.glg
*.glo
*.gls
*.glsdefs
*.gz
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.loe
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo